@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333447;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

/* #region Medias Query */

/* Styles pour les petits écrans (généralement les téléphones mobiles en mode portrait) */
@media screen and (max-width: 600px) {
  nav a {
    font-size: .625rem;
  }
}

/* Styles pour les écrans de taille moyenne */
@media screen and (min-width: 600px) {
  nav a {
    font-size: .876rem;
  }
}

/* Styles pour les grands écrans */
@media screen and (min-width: 900px) {
  nav a {
    font-size: 1rem;
  }
}

/* #endregion Medias Query */

/* #region Logo + Send */

.headerPS {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: black;
  color: #FFF;
  text-align: center;
  font-family: Public Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* #endregion Logo + Send */

/* #region Header NavBar Section */

nav {
  padding: .625rem;
  background-color: #f8f9fa;
  margin-bottom: 1rem;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  position: relative;
}

nav a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: .875rem 1rem;
  font-family: sans-serif;
  font-size: 1.23rem;
  transition: .5s;
  background: transparent;
}

nav a:hover {
  background-color: dodgerblue;
  color: white;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  border: 3px solid dodgerblue;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}

a::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  height: 12px;
  width: 12px;
  border: 3px solid dodgerblue;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

a:hover::before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

a:hover::after {
  opacity: 1;
  top: -8px;
  right: -8px;
}

/* Sous-menus */

nav li ul {
  display: none;
  position: absolute;
  /* on le sort du flow */
  left: -50%;
  top: 100%;
  /* on le positionne à 100% de la hauteur de son conteneur, donc en dessous */
  background-color: #f9f9f9;
  min-width: 10rem;
  max-width: 80vw;
  box-shadow: 0 .5rem 1rem 0 rgba(0 0 0 / 20%);
  padding: .25rem;
}

nav ul li a {
  color: gray;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative
}

nav li:is(:hover, :active) ul {
  display: block;
}

nav li ul a {
  width: 100%;
}

/* un peu experimental mais permet de garder l'effet actif du lien parent quand on est dans le dropdown */
nav li:has(ul:is(:hover, :active, :focus-within))>a {
  background-color: #ddd;
}

/* #endregion Header NavBar Section*/

/* #region a trier*/

#wrapper {
  display: flex;
  width: 80em;
  margin: auto;
}

#wrapper aside {
  background-color: #fff;
  flex: 1;
  padding: 1em;
  border-radius: 1em;
}

#wrapper aside img {
  display: block;
  width: 50%;
  margin: auto;
}

#wrapper main {
  flex: 3;
  padding-left: 1em;
  height: 80vh;
  overflow-y: scroll;
}

#wrapper main article {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

#wrapper main article h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;

}

#wrapper main article time {
  float: left;
}

#wrapper main article address {
  text-align: right;
  margin-bottom: 1em;
}

#wrapper main article p {
  margin: 0;
}

#wrapper main article footer {
  margin-top: 1em;
  text-align: right;
}

#wrapper main article footer small {
  float: left;
}

#wrapper.admin {
  flex-direction: row-reverse
}

#wrapper.admin aside {
  flex: 1;
  margin-left: 1em;
  border-radius: 0;
  padding: 0;
}

#wrapper.admin main {
  flex: 2;
  background-color: #fff;
  border-radius: 0;
  padding: 0;
}

#wrapper.admin h2 {
  text-align: center;
}

#wrapper.admin h3 {
  margin: 0;
}

#wrapper.admin nav {
  text-align: right;
}

#wrapper.admin article {
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

#wrapper.admin article p {
  float: left;
  margin: 0;
}


.parameters dl dt {
  float: left;
  font-weight: bold;
  line-height: 1.5em;
}

.parameters dl dd {
  margin-left: 15em;
  line-height: 1.5em;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.contacts article {
  width: 25em;
  height: 7em;
  margin-right: 1em;
}

.contacts article img {
  float: right;
  height: 5em;
}

pre {
  color: #aaa;
}

/* #endregion à trier */

/* #region Log In */

button {
  font-family: inherit;
  border: 0;
  color: inherit;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 600px;
  width: 100%;
  background-color: #000;
  padding: 24px 20px;
  border-radius: 16px;
  margin-inline: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: #d6d9db;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 7px 11px;
  border-radius: 50%;
}
.close-button:hover {
  background-color: #212222;
}
.logo {
  font-size: 30px;
}

.content {
  width: 300px;
  text-align: center;
  margin-inline: auto;
}
.content h1 {
  margin-block: 28px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}
.primary-button,
.secondary-button {
  width: 100%;
  border-radius: 20px;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 500;
}
.primary-button {
  background-color: #fff;
  color: #0f1419;
}
.primary-button:hover {
  background-color: #e6e6e6;
}
.secondary-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #536471;
}
.secondary-button:hover {
  background-color: #181919;
}
.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.sign-in-button object {
  width: 24px;
  height: 24px;
}

.divider {
  width: 100%;
  margin-block: 20px;
  position: relative;
}
.divider p::before,
.divider p::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 1px;
  background-color: #333639;
}
.divider p::before {
  left: 0;
}
.divider p::after {
  right: 0;
}

.email-log-in {
  width: 100%;
  position: relative;
}
.email-log-in input {
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 20px 10px;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
}
input::placeholder {
  opacity: 0;
}
input + label {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #71767b;
  font-size: 18px;
  pointer-events: none;
  transition: 200ms ease;
}
input:focus {
  outline: 1px solid #1d9bf0;
}
input:focus + label {
  color: #1d9bf0;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  top: 6px;
  left: 10px;
  font-size: 12px;
}

.sign-up {
  margin-top: 32px;
  font-weight: 300;
  text-align: center;
}
.sign-up a {
  color: #1d9bf0;
}
.sign-up a:hover {
  text-decoration: underline;
  text-decoration-color: #1d9bf0;
}

/* #endregion Log In */